<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0
  Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script language="javascript" type="text/javascript">
        var bas;
        function OnButtonClick() {
            bas=2;
        }
    </script>
</head>
<body>
    <input type="button" value="Exec" onclick="OnButtonClick();"/><br />
    <br />
    <div id="output"></div>
    <a href="/polls/quest?bas/">登録1</a>
    <a href="/polls/quest2?bas/">登録2</a>
</body>
</html>
